
<h1>Hi <%= @customer.name %></h1>
<p>The details of your reservation:</p>
<p><b>Reservation Id :</b> <%=@reservation.id %></p>
<p><b>Host :</b> <%= @host.name %></p>
<p><b>Listing :</b> <%= @listing.name %></p>
